* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  padding-top: 20px;
}

#header p {
  width: 100%;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
}

#header p img {
  width: 100%;
  height: 100%;
}

#header li {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 13px;
}

.warper {
  width: 100%;
  height: 100%;
  background: url(../../static/330594-14040112304430.jpg) center center;
  background-size: cover;
  height: auto;
}

.warper .box {
  width: 1280px;
  height: 1024px;
  margin: 0 auto;
  overflow: hidden;
}

.warper .box .left {
  width: 617px;
  height: 100%;
  float: left;
}

.warper .box .left p {
  margin-top: 160px;
  font-family: HelveticaNeue-UltraLight;
  font-size: 106px;
  color: #FFFFFF;
  letter-spacing: 5.25px;
  line-height: 98px;
}

.warper .box .right {
  width: 585px;
  height: 100%;
  float: left;
}

.warper .box .right .right-cont {
  width: 460px;
  height: 530px;
  margin-top: 165px;
  margin-right: 275px;
  background: #FFFFFF;
  box-shadow: 0px 2px 54px 0px rgba(0, 21, 30, 0.16);
  border-radius: 8px;
}

.warper .box .right .right-cont p {
  height: 56px;
}

.warper .box .right .right-cont .cont-div {
  width: 100%;
  height: 76px;
  text-align: center;
  line-height: 76px;
}

.warper .box .right .right-cont .cont-div > p {
  font-size: 76px;
  height: 100%;
  color: #7B1AD9;
}

.warper .box .right .right-cont .cont-h {
  width: 100%;
  text-align: center;
  height: 70px;
  padding-top: 17px;
}

.warper .box .right .right-cont .cont-h > p {
  font-family: PingFangSC-Regular;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: 0.08px;
}

.warper .box .right .right-cont ul {
  margin: 0 auto;
  width: 310px;
}

.warper .box .right .right-cont ul li {
  width: 310px;
  height: 57px;
  clear: both;
  border-bottom: 1px solid #D0D0D0;
}

.warper .box .right .right-cont ul li > p:nth-child(1) {
  height: 57px;
  line-height: 57px;
  float: left;
}

.warper .box .right .right-cont ul li > p:nth-child(1) input {
  height: 22px;
  border: 0;
  outline: 0;
}

.warper .box .right .right-cont ul li > p:nth-child(2) {
  float: right;
  height: 57px;
  line-height: 57px;
}

.warper .box .right .right-cont ul li > p:nth-child(2) span {
  margin-top: 17px;
  display: inline-block;
  border: 1px solid #E3E0E0;
  text-align: center;
  line-height: 34px;
  width: 88px;
  height: 34px;
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #FF5065;
  letter-spacing: 0.37px;
}

.warper .box .right .right-cont .cont-p {
  margin-top: 10px;
  width: 100%;
  height: 20px;
}

.warper .box .right .right-cont .cont-p span {
  float: right;
  margin-right: 88px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #73808E;
  cursor: pointer;
}

.warper .box .right .right-cont .cont-button {
  width: 100%;
  height: 44px;
  text-align: center;
  margin-top: 10px;
}

.warper .box .right .right-cont .cont-button button {
  background: #7B1AD9;
  border-radius: 100px;
  width: 310px;
  height: 44px;
  border: 0;
  outline: 0;
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.73px;
}
